@import "bootstrap";
@import "font-awesome.css";
@import "simplemde.css";
@import "datapicker.css";

.vertical-center {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

body {
  padding-bottom: 2rem;
}

.excerpt .CodeMirror {
  height: 100px;
  min-height: 100px;
}